.datos{
    margin-top: 25px;
    padding-top: 15px;
    color: rgb(230, 80, 80);
    border-top: rgb(230, 80, 80) solid 1px;
    text-align: center;
    font-weight: 600;
    font-size: larger;
}

p {
    margin: 10px;
}